$font: 'M PLUS 2', sans-serif;
$white-color: #fff;
$text-color: #4f5665;
$heading-color: #0b132a;
$primary-color: #7162ad;
$gray-color: #dde0e4;
$gray-light-color: #f8f8f8;
$gray-lighter-color: #ddd;
$border-radius: 10px;

$mobile-width: 600px;
$tablet-width: 1024px;
