.balance {
    margin-bottom: 50px;
    &-container {
        border-radius: $border-radius;
        padding: 20px 40px;
        box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.094);
        @include flex(center, space-between);

        @include mobile {
            flex-direction: column;
        }
    }

    &-item {
        @include flex(flex-start, center);
        flex-direction: column;
        background-color: rgba($color: #a495fc, $alpha: 0.3);
        border-radius: $border-radius;
        width: 400px;
        height: 150px;
        padding: 20px;

        &-icon {
            font-size: 1.5rem;
            margin-right: 10px;
            font-weight: 600;
            @include mobile {
                font-size: 1rem;
            }
        }

        &-info {
            font-size: 2rem;
            color: $primary-color;
            user-select: none;
            margin-top: 20px;
            font-weight: 500;

            @include mobile {
                font-size: 1.5rem;
            }
        }

        @include mobile {
            width: 100%;
        }
    }


    &-btn {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        & > button{
            margin-top: 10px;
        }

        @include mobile {
            width: 100%;
        }
    }
}