.history {
    &-container {
    }

    &-content {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 20px;
    }

    &-item {
        border-radius: $border-radius;
        height: 150px;
        padding: 20px;
        box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.094);
        margin-bottom: 30px;
    }
}