.service {
    margin-bottom: 20px;
    &-container {
        border-radius: $border-radius;
        padding: 20px 40px;
        box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.094);
        @include flex(center, space-between);
    }
    
    &-item {
        width: 250px;
        height: 150px;
        color: $white-color;
        padding: 10px;
        font-size: 1.3rem;
        @include flex(center, center);
        flex-direction: column;
        
        i {
            font-size: 3rem;
            margin-bottom: 10px;
        }

        @include mobile {
            width: 80px;
            height: 80px;
            font-size: 0.7rem;

            i{
                font-size: 1rem;
            }
        }
    }
}