.tabs {
    display: flex;
    position: relative;
}
.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #7162ad;
    transition: all 0.2s ease;
}

.tab {
    &-item {
        width: calc(1440px / 4);
        padding: 16px 20px 11px 20px;
        font-size: 1.5rem;
        text-align: center;
        font-weight: 500;
        color: #7162ad;
        background-color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 5px solid transparent;
        opacity: 0.6;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
            opacity: 1;
            background-color: rgba(194, 53, 100, 0.05);
            border-color: rgba(194, 53, 100, 0.1);
        }
    }

    &-item.active {
        opacity: 1;
    }

    &-icon {
        font-size: 24px;
        width: 32px;
        position: relative;
        top: 2px;
    }

    &-content {
        padding: 28px 0;
    }

    &-pane {
        color: #333;
        display: none;
    }
    &-pane.active {
        display: block;
    }

    &-pane h2 {
        font-size: 24px;
        margin-bottom: 8px;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
