.hero {
    padding-top: 20px;
    padding-bottom: 120px;
    &-container {
        @include flex(center, space-between);
        position: relative;
    }

    &-content {
        width: 100%;
        max-width: 555px;
        z-index: 99;
        flex-grow: 1;

        .shape {
            $size: 450px;
            height: $size;
            width: $size;
            position: absolute;
            left: 0;
            top: 50%;
            border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
            transform: translate(0, -50%);
            transition: border-radius 13s ease;
            animation: border 10s infinite;
            background-color: #a495fc;

            @include tablet {
                display: none;
            }
        }
    }

    &-image {
        animation: slideIn 1.5s ease-in-out forwards;
    }

    &-heading {
        font-size: 50px;
        margin-bottom: 10px;
        color: $heading-color;
        line-height: calc(70 / 50);
        opacity: 0;
        transform: translateY(100px);
        animation: slideUp 0.8s ease forwards 0.5s;
    }

    &-description {
        line-height: calc(30 / 16);
        margin-bottom: 50px;
        opacity: 0;
        transform: translateY(100px);
        animation: slideUp 0.8s ease forwards 0.8s;
    }

    @include mobile {
        &-container {
            flex-direction: column-reverse;
        }

        &-heading {
            font-size: 25px;
        }
    }
}

.getstart {
    opacity: 0;
    transform: translateY(10px);
    position: relative;
    animation: slideUp 0.8s ease-in-out forwards 1s;

    span {
        position: absolute;
        opacity: 0;
        top: 18px;
        right: -20px;
        transition: 0.5s;
    }

    &:hover {
        padding-left: 10px;
    }

    &:hover span {
        opacity: 1;
        right: 10px;
    }

    @include mobile {
        width: 100%;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(500px) scale(0.2);
    }
    100% {
        transform: translateX(0px) scale(1);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
