.invoice {
    border: 1px solid #ccc;
    border-radius: $border-radius;
    padding: 10px;
    width: 700px;
    margin: 10px auto;
    line-height: 1.3rem;

    h1 {
        text-align: center;
        padding-right: 30px;
    }

    &-info {
        margin-top: 10px;
        color: $text-color;
        padding-bottom: 10px;

        p {
            color: $primary-color;
        }

        &-name {
            @include flex(center, space-between);
            padding: 0 10px;
            margin-top: 5px;

            p {
                background-color: rgba($color: $second-color, $alpha: 0.3);
                border-radius: $border-radius;
                font-size: 1.2rem;
                padding: 10px;
                width: 316.5px;
                height: 55px;
            }
        }

        &-content {
            background-color: rgba($color: $second-color, $alpha: 0.3);
            border-radius: $border-radius;
            font-size: 1.2rem;
            margin: 5px 10px;
            padding: 10px;
        }
    }

    &-money {
        @include flex(center, space-between);
        margin-top: 10px;
        &-content {
            background-color: $second-green;
            color: $green;
            border-radius: $border-radius;
            font-size: 1.2rem;
            margin: 5px 10px;
            padding: 10px;
            width: 315px;
        }
    }
}
